<div>
    <div id="title_name">
        <h2>Check Meeting Schedule</h2>
    </div>
    <label for="datePicker">Select Date:</label>
    <input type="date" id="datePicker" (change)="onDateChange($event)" />
  
    <div *ngIf="selectedDate; else selectDateMessage">
      <ng-container *ngIf="hasMeetings(); else noMeetingsMessage">
        <div *ngFor="let client of clients">
          <ng-container *ngIf="client.filteredMeetings.length > 0">
            <h3>Client: {{ client.name }}</h3>
            <p>Email: {{ client.email }}</p>
            <p>Phone: {{ client.phone }}</p>
            <h4>Meetings</h4>
            <ul>
              <li *ngFor="let meeting of client.filteredMeetings">
                <strong>{{ meeting.date }} {{ meeting.time }}</strong>: {{ meeting.agenda }}
              </li>
            </ul>
          </ng-container>
        </div>
      </ng-container>
    </div>
  
    <ng-template #selectDateMessage>
      <p>Please select a date to show the schedule.</p>
    </ng-template>
  
    <ng-template #noMeetingsMessage>
      <p>No meetings scheduled for the selected date.</p>
    </ng-template>
  </div>
  